body {
    background-color: rgb(206, 225, 236);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Readex Pro', sans-serif;
}

img {
    width: 280px;
    height: 280px;
    max-width: 100%;
    border-radius: 10px;
}

.container {
    max-width: 17em;
    /* border: 1px solid black; */
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

h4 {
    font-size: 16px;
    text-align: center;
    padding: 0 20px;
    color: rgb(14, 14, 54);
    font-size: 500;
}

p {
    padding: 0 10px;
    text-align: center;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(95, 95, 95)
}